.background{
    background: url("../Image/b2.jpg");
    background-repeat: no-repeat;
    height: 100%;
    /* width: 100%; */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
}
h1{
    font-size: 15em;
    color: #fff;
    text-align: center;
}
h2{
    /* font-size: 3em; */
    color: #fff;
    text-align: center;
}
span{
    color: yellow;
}
h3{
color: #fff;
text-align: center;
}
