#login-page {
    background: url('../Image/b2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
}

#login-logo {
	padding-top: 5%;
}

#login-box {
	margin: 3% auto;
	width: 550px;
}

#login-page h1 {
	color: #fff;
	font-size: 55px;
	text-align: center;
	margin-bottom: 25px;
	font-weight: 300; 
}

#login-box-body {
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.5);
	padding: 30px;
}

#login-box-msg {
	color: #fff;
	font-size: 25px;
}

#checkbox {
	color: #fff;
}

.forgot-password {
	margin: 10px 0;
}

.Submit {
	width: 50%;
	margin: 0 auto;
	padding: 10px 0;
}

.social-icon {
	padding: 2%;
	float: right;
}


.social-icon ul {
	list-style: none;
}

.social-icon li {
	float: left;
	margin-right: 15px;
}

.social-icon li a {
	text-transform: uppercase;
	color: #fff;
	padding: 20px;
	line-height: 20px;
	display: inline-block;
}

.social-icon li a i {
	font-size: 40px;
	margin-top: -10px;
}

