
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/error.css" rel="stylesheet" />
</head>
<body class="background">
    <div class="col-md-12 ">
        <div class="col-md-12">
            <h1>
                4<span>0</span>4
            </h1>
        </div>
        <div class="col-md-12">
            <h2>
                Sorry! The page you were looking for could not be found
            </h2>
        </div>
        <div class="col-md-12">
            <h3>
                Click <a href="#">here</a> to return home page
            </h3>
        </div>
    </div>
</body>
</html>
