@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="~/Content/Css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/Css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Candidate.css" rel="stylesheet" />
    <link href="~/Content/Css/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/iCheck/square/blue.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/iCheck/all.css" rel="stylesheet" />

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body class="body-candidate">
    <h1 class="text-center">
        <!-- Logo -->
        <img src="~/Content/Image/logo PCS den full.png" />
    </h1>
    <!-- Main content -->
    <div class="row">
        <div class="box">
            <ul class="nav nav-tabs" hidden>
                <li><a href="#candidate" data-toggle="tab">Candidate</a></li>
                <li><a href="#company" data-toggle="tab">Company</a></li>
            </ul>
            <div class="tab-content">
                <!-- general information tab -->
                <div id="candidate" class="tab-pane fade in active">
                    <form id="candidateForm" onsubmit="activeTab('company'); return false;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="candidateId" value="-1" />
                        <div class="col-md-12">
                            <div class="box-body">
                                <div class="with-border text-center">
                                    <h3 class="box-title">Basic Information</h3>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-9">
                                        <label class="control-label">Name:</label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input class="form-control" type="text" id="candidateFirstName" placeholder="First Name..." required />
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="candidateMiddleName" placeholder="Middle Name..." />
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="candidateLastName" placeholder="Last Name..." required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Gender</label>
                                        <!-- radio -->
                                        <div class="form-group">
                                            <label class="col-md-6">
                                                <input type="radio" name="gender" id="male" value="Male" class="minimal" checked>
                                                Male
                                            </label>
                                            <label class="col-md-6">
                                                <input type="radio" name="gender" id="female" value="Female" class="minimal">
                                                Female
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Email</label>
                                        <input type="email" class="form-control" id="candidateEmail" placeholder="Email.." required>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Phone Number</label><br />
                                        <input type="text" class="form-control" id="candidatePhoneNumber" pattern="^[0-9\-\+]{9,15}$" placeholder="Phone number.." required>
                                    </div>
                                    <div class="form-group col-md-3">
                                        @*<input class="form-control" type="text" id="candidateDOB" placeholder="Date of birth..." required />*@
                                        <label class="control-label col-md-12">Date Of Birth</label>
                                        <div class="input-group date col-md-12">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right col-md-6" id="candidateDOB" placeholder="yyyy/mm/dd" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Identity Card Number</label>
                                        <input class="form-control" type="text" id="candidateIDNumber" placeholder="Identity Card Number..." required />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Job Title</label>
                                        <input class="form-control" type="text" id="candidateJobTitle" placeholder="Job Title..." required />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Job Level</label>
                                        <div class="form-group">
                                            <select class="form-control select2" id="candidateJobLevel">
                                                <option value="Fresher">Fresher</option>
                                                <option value="Junior">Junior</option>
                                                <option value="Senior">Senior</option>
                                                <option value="Manager">Manager</option>
                                                <option value="Higher">Higher</option>s
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Address</label>
                                        <textarea class="form-control col-md-12" placeholder="Address.." cols="20" id="candidateAddress" name="candidateAddress" rows="5" required>...</textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer text-right col-md-12">
                                <button type="submit" class="btn btn-primary">Next</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Company information tab-->
                <div id="company" class="tab-pane fade">
                    <!-- form start -->
                    <form id="companyForm" onsubmit="submitData(); return false;">
                        <div class="box-body" id="company-information">
                            <!-- add company and reference info here-->
                            <div id="baseFormCompany">
                                <div id="company-base-info_comId" onsubmit="activeTab('candidate'); return false;">
                                    <div class="with-border text-center">
                                        <h3 class="box-title">Company Information</h3>
                                    </div>
                                    <div class="cold-md-3 cancel text-right" id="button-remove-company" onclick="removeCompany('company-base-info_comId')">
                                        <button class="btn btn-danger" title="Remove this company"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="box-body">
                                        <div class="company-general-information">
                                            <input id="companyId" type="hidden" value="-1" />
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label  col-md-6">Name</label>
                                                    <input type="text" class="form-control" placeholder="Company Name..." id="companyName" required />
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="control-label  col-md-6">Address</label>
                                                    <input type="text" class="form-control" placeholder="Address..." id="companyAddress" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label col-md-6">Website</label>
                                                    <input type="text" class="form-control" placeholder="Website..." id="companyWebsite" required />
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="control-label col-md-6">Job Title</label>
                                                    <input type="text" class="form-control" placeholder="Job title..." id="companyJobTitle" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label col-md-6">Start Date</label>
                                                    <div class="input-group date col-md-12">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text" class="form-control pull-right" id="startDate" required>
                                                    </div>

                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="control-label col-md-6">Stop Date</label>
                                                    <div class="input-group date col-md-12">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text" class="form-control pull-right col-md-6" id="stopDate" required>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label class="control-label col-md-6">Job Duties</label>
                                                    <textarea type="text" class="form-control col-md-12" placeholder="Job Duties.." cols="20" id="jobDuties" name="jobDuties" rows="3" required>...</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Reference information-->
                                        <div id="referenceInformation">
                                            <div id="baseReference">
                                                <div id="reference-information_refeId">
                                                    <div class="box-body">
                                                        <div class="cold-md-3 cancel text-right" onclick="removeReference('reference-information_refeId', 'company-base-info_comId')" id="btnRemoveReference" hidden>
                                                            <button class="btn btn-danger" title="Remove this reference"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                        </div>
                                                        <input id="referenceId" type="hidden" value="-1" />
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <h3>Reference Information</h3>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                <label class="control-label  col-md-6">Full Name</label>
                                                                <input type="text" class="form-control" placeholder="Full Name..." id="refeFullName" required />
                                                            </div>
                                                            <div class="form-group col-md-3">
                                                                <label class="control-label col-md-12">Job Title</label>
                                                                <input type="text" class="form-control" placeholder="Job Title..." id="refeJobTitle" required />
                                                            </div>
                                                            <div class="form-group col-md-3">
                                                                <label class="control-label  col-md-12">Relationship</label>
                                                                <div class="form-group">
                                                                    <select class="form-control select2" id="refeRelationship">
                                                                        <option value="Superior">Superior</option>
                                                                        <option value="Peer">Peer</option>
                                                                        <option value="Subordinate">Subordinate</option>
                                                                        <option value="Other">Other</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                <label class="control-label  col-md-6">Email</label>
                                                                <input type="email" class="form-control" placeholder="Email..." id="refeEmail" required />
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label class="control-label  col-md-6">Phone Number</label>
                                                                <input type="text" class="form-control" placeholder="Phone Number..." id="refePhoneNumber" required pattern="^[0-9\-\+]{9,15}$" />
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Add reference button-->
                                        <div class="box-title clickadd" id="addReferenceButton">
                                            <button type="button" class="btn btn-primary" id="button-add-reference" title="Add reference" onclick="addReference('company-base-info_comId')">+ Add reference</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.Company info-->
                        <div class="box-footer text-right" id="add-company-button">
                            <button type="button" class="btn btn-primary" id="btnAddCompany" title="Add company" onclick="addCompany(true)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                        <div class="checkbox icheck">
                            <label id="ConfirmSubmit">
                                <input type="checkbox" class="minimal" id="cbConfirmSubmit">
                                I guarantee the above information is true and take full responsibility before the law. The company reserves the right to verify the above information.
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-footer">
                                    <button type="button" class="btn btn-primary" onclick="activeTab('candidate'); return false;">Back</button>
                                </div>
                            </div>
                        </div>

                        <div class="box-footer text-center">
                            <button type="submit" class="btn btn-primary" id="buttonSubmit" disabled="disabled">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- jQuery 3 -->
    <script src="~/Scripts/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Slimscroll -->
    <script src="~/Content/Js/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/Js/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/Js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/Js/demo.js"></script>
    <script src="~/Content/iCheck/icheck.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="~/Content/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/edit-profile-candidate-1.0.0.js"></script>
    <script>
        $(function () {
            getCandidateInfo();
            getAllCompany(@ViewBag.CandidateId);
        })
    </script>
</body>

</html>
