* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

.body-candidate {
	width: 100%;
}

.box {
	width: 60%;
	margin: 0 auto;
}

button[type="submit"] {
	width: 135px;
	border-radius: 30px;
}

button[type="button"] {
	border-radius: 30px;
}

#btn-remove {
	float: right;
}

.clickadd {
	padding : 10px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #fff;
	    border-top-color: #fff;
}