.logo{
    /* font-size: 25px; */
   height:  3em;
   text-align: center;
   line-height: 2;
   /* font-family: cursive; */

}
.header{
    height: 3em;
    width: 100%;
    background-color: #464646;
    margin: 0px;
}

.user-image{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:black;
 
}
.img-circle {
    border-radius: 50%;
}
.user-header{
    text-align: center;
    background-color: #3c8dbc;
}
.dropdown-menu{
    top:10px;
    right: 0;
    left: auto;
    padding: 0px;
    margin-top: 13px;
    /* background: #3c8dbc; */
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
     width: 310px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}
.user-footer{
    padding: 10px;
    height: 100%;
}
/* menu right */
.sidenav {
    height: 100%;
    width: 0;
    color: #3c8dbc;
    position: fixed;
    z-index: 1;
    top: 3em;
    right: 0;
    background-color: #ececec;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #3c8dbc;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    /* left: 25px; */
    font-size: 36px;
    /* margin-left: 50px; */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sidenav a i{
    padding-right: 0.5em;
}
/* form edit pass */
input[type=password],[type=text],[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #3c8dbc;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.col-md-6 input{
    padding: 6px;
}
.footer{
    height: auto;
    background: #3c8dbc;
    color: #fff;
    padding: 0.6em 0 0 2em;
}
.footer .logo{
    height: 2em;
}
.modal-dialog{
    position:unset !important;
}