
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BillReport</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/AdminLTE.css" rel="stylesheet" />

    <link href="~/Content/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Css/BillReport.css" rel="stylesheet" />

</head>
<body>
    <!--content-->
    <div class="container col-md-12 col-sm-12 col-xs-12">
        <!--information-->
        <div class="col-md-12 col-sm-12 col-xs-12 clearPaddingMargin" style="margin-top:1em">
            <div class="col-md-12 col-sm-12 col-xs-12 clearPaddingMargin">
                <label>Name Company:</label>
                <b>Swilife</b>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 clearPaddingMargin">
               
                    <label>Startdate:</label><input type="date" value="2018-10-20"/>
             
              
                    <label>Stopdate:</label><input type="date" />
               
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 clearPaddingMargin">
                <label>Sum Company:</label>
                <b>9</b>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 clearPaddingMargin">
                <label>Sum Candidate:</label>
                <b>12</b>
            </div>
        </div>
        <!--end-->
        <!-- table -->
        <div class="col-md-12 clearPaddingMargin" style="margin-top:1em">
            <table id="tableCompany" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Name</th>
                        <th>Create time</th>
                        <th>Completed time</th>
                        <th>Number of company</th>
                        <th>Cost</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Nguyen Van Anh</td>
                        <td>12-12-2017</td>
                        <td>15-12-2017</td>
                        <td>7</td>
                        <td>600,000</td>

                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Nguyen Van Anh</td>
                        <td>12-12-2017</td>
                        <td>15-12-2017</td>
                        <td>7</td>
                        <td>600,000</td>

                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Nguyen Van Anh</td>
                        <td>12-12-2017</td>
                        <td>15-12-2017</td>
                        <td>7</td>
                        <td>600,000</td>

                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Nguyen Van Anh</td>
                        <td>12-12-2017</td>
                        <td>15-12-2017</td>
                        <td>7</td>
                        <td>600,000</td>

                    </tr>
                    <tr>
                        <td class="clearBorder"> Sum</td>
                        <td class="clearBorder"></td>
                        <td class="clearBorder"></td>
                        <td class="clearBorder"></td>
                        <td class="clearBorder"></td>
                        <td class="backgroundWhile">2,400,000</td>
                    </tr>
                    <tr>
                        <td class="clearBorder"> VAT 10%</td>
                        <td class="clearBorder"></td>
                        <td class="clearBorder"></td>
                        <td class="clearBorder"></td>
                        <td class="clearBorder"></td>
                        <td class="backgroundWhile">240 000</td>
                    </tr>
                    <tr>
                        <td class="clearBorder"> Total</td>
                        <td class="clearBorder"></td>
                        <td class="clearBorder"></td>
                        <td class="clearBorder"></td>
                        <td class="clearBorder"></td>
                        <td class="backgroundWhile">2,160,000</td>
                    </tr>
                </tbody>

            </table>
            <div class="col-md-12 col-sm-12 col-xs-12 clearPaddingMargin" >
               
                <button><i class="fa fa-print"></i> Print</button>
            </div>
        </div>
        <!-- end table -->

    </div>
</body>
</html>
