
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditAccount</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/form.css" rel="stylesheet" />
    <link href="~/Content/Css/admin.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Css/logo.css" rel="stylesheet" />
</head>
<body>
    <!--Header menu-->
    <div class="row col-md-12 col-sm-12 col-xs-12  header" style="margin:0;padding:0">
        <div class="col-md-3 col-sm-3 col-xs-3 " style=" background-color: #464646;padding: 0px;height:100%;">
            <img src="~/Content/Image/logo PCS trang.png" style="height:100%" />
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9 " style=" background-color: #464646;padding: 0px;height:100%">

            <!-- Control Sidebar Toggle Button -->
            <div style="float: right;padding-top: 15px;padding-left: 15px;padding-right:1em" class="dropdown">
                <a href="#" data-toggle="control-sidebar">
                    <i class="fa fa-gears"></i>
                </a>
                <div class="dropdown-content sidenav">
                    <a href="#" data-toggle="modal" data-target="#changeProfileModal"  @*onclick="return getProfile();"*@>
                        <b>
                            <i class="fa fa-user"></i> Change profile
                        </b>
                    </a>

                    <a href="#" data-toggle="modal" data-target="#changePassModal">

                        <b>
                            <i class="fa fa-edit"></i>Change Password
                        </b>
                    </a>

                    <a href=@Url.Action("Login", "Home")>
                        <b>
                            <i class="glyphicon glyphicon-log-out"></i>Log out
                        </b>
                    </a>
                </div>
            </div>
            <!-- form edit pass -->
            <div class="modal fade" id="changePassModal" role="dialog" tabindex="-1">
                <div class="modal-dialog" style="position:unset">

                    <!-- Modal content-->
                    <div class="modal-content" style="width: 100%;padding: 2em 2em 0 2em">
                        <div class="modal-header" style="padding-left: 0px;">
                            <h4>Change PassWord</h4>
                        </div>
                        <form onsubmit="updatePassword(); return false;">
                            <div class="modal-body form-edit">
                                <input id="UserName" name="UserName" hidden>
                                <label>Old Password</label><br />
                                <input type="password" id="oldPassword" placeholder="Password old.." required>
                                <label>New Password</label><br />
                                <input type="password" id="newPassword" placeholder="Password.." required>
                                <label>Confirm Password</label><br />
                                <input type="password" id="confirmPassword" placeholder="Confirm password.." required>
                                <div id="changePasswordMessage"></div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" id="btnEditPass">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <!-- end form edit pass -->
            <!-- form edit information -->
            <div class="modal fade" id="changeProfileModal" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg" style="position:unset">
                    <!-- Modal content-->
                    <div class="modal-content" style="width: 100%;padding:  2em 2em 0 2em">
                        <div class="modal-header" style="padding-left: 0px;">
                            <h4 class="modal-title">Change Profile</h4>
                        </div>
                        <form onsubmit="editProfile(); return false;">

                            <div class="modal-body form-edit">
                                <label>First name</label><br />
                                <input type="text" id="recruiterFirstName" placeholder="Firstname.." required>
                                <label>Middle name</label><br />
                                <input type="text" id="recruiterMiddleName" placeholder="Firstname..">
                                <label>Last name</label><br />
                                <input type="text" id="recruiterLastName" placeholder="Lastname.." required>
                                <label> Email</label><br />
                                <input type="email" id="recruiterEmail" placeholder="Email.." required>
                                <label>Phone number</label><br />
                                <input type="text" id="recruiterPhoneNumber" pattern="^[0-9\-\+]{9,15}$" placeholder="Phone number.." required>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" id="btnEditProfile">Save</button>
                                    @*<input />*@
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <!-- end form edit information -->

            <div style="float: right;padding-top: 13px;height: 100%;width:auto">
                <!-- The user image in the navbar-->
                <i class="fa fa-user" style="color:silver" id="welcomeUser"> Welcome @ViewBag.Title</i>
                <span></span>
            </div>
        </div>
    </div>
    <!--end header menu-->
    <div class="col-md-12 col-sm-12 col-xs-12 clearPaddingMargin" style="display: flex;min-height: 100%">
        <div class="col-md-2 col-sm-2 col-xs-12 clearPaddingMargin menuleft">
            <div class="col-md-12 col-sm-12 col-xs-12 clearPaddingMargin">
                <a href="#dashboard" data-toggle="tab">
                    <div class="col-md-12 col-sm-12 col-xs-12  category"><i class="fa fa-dashboard" style="color: black"></i>Dashboard</div>
                </a>

                <a href="#company" data-toggle="tab">
                    <div class="col-md-12 col-sm-12 col-xs-12 category"><img src="~/Content/Image/iconcompany.png" style="color: black">Company</div>
                </a>

                <a href="#recruiter" data-toggle="tab">
                    <div class="col-md-12 col-sm-12 col-xs-12  category"><img src="~/Content/Image/recruiter.png">Recruiter</div>
                </a>


                <a href="#specialist" data-toggle="tab">
                    <div class="col-md-12 col-sm-12 col-xs-12 category"><img src="~/Content/Image/specialist-user.png">Specialist</div>
                </a>
            </div>

        </div>
        <div class="col-md-10 col-sm-10 col-xs-12 contentRight">
            <div class="tab-content">
                <div id="dashboard" class="tab-pane fade in active">
                    <div class="col-md-12">
                        <div class="col-md-12 borderbox ">
                            <div>
                                Statistics
                            </div>
                            <div style="padding-top: 1em;">
                                <div class=" box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Bar Chart</h3>

                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>

                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart">
                                            <canvas id="barChart" style="height:230px"></canvas>

                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="col-md-3" style="height: 2em;width: 2em;background-color: rgb(255, 51, 102) ">

                                                    </div>
                                                    <div class="col-md-9"> Register </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-3" style="height: 2em;width: 2em;background-color:#3366ff">

                                                    </div>
                                                    <div class="col-md-9"> Complete </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-12 clearPaddingMargin">

                            <div class="col-md-12 borderbox">
                                <div class="col-md-12" style="margin-top: 1em;margin-bottom: 1em">
                                    <h4>Information Company</h4>
                                </div>
                                <div>
                                    <table id="tableTop5Company" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Website</th>
                                                <th>Submited</th>
                                                <th>Compeleted</th>
                                                <th>Close</th>
                                                <th>Pending</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Công ty CP Swilife</td>
                                                <td>https://swilife.com</td>
                                                <td>100</td>
                                                <td>99</td>
                                                <td>23</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <td>Công ty CP Swilife</td>
                                                <td>https://swilife.com</td>
                                                <td>100</td>
                                                <td>99</td>
                                                <td>23</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <td>Công ty CP Swilife</td>
                                                <td>https://swilife.com</td>
                                                <td>100</td>
                                                <td>99</td>
                                                <td>23</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <td>Công ty CP Swilife</td>
                                                <td>https://swilife.com</td>
                                                <td>100</td>
                                                <td>99</td>
                                                <td>23</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <td>Công ty CP Swilife</td>
                                                <td>https://swilife.com</td>
                                                <td>100</td>
                                                <td>99</td>
                                                <td>23</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <td>Công ty CP Swilife</td>
                                                <td>https://swilife.com</td>
                                                <td>100</td>
                                                <td>99</td>
                                                <td>23</td>
                                                <td>5</td>
                                            </tr>



                                        </tbody>

                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 clearPaddingMargin">

                            <div class="col-md-12 borderbox">
                                <div class="col-md-12" style="margin-top: 1em;margin-bottom: 1em">
                                    <h4>Information Specialist</h4>
                                </div>
                                <div>
                                    <table id="tableTop5" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Assign</th>
                                                <th>Compeleted</th>
                                                <th>Close</th>
                                                <th> Pending</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Nguyen Van Chin</td>
                                                <td>nguyenvanchin@gmai.com</td>
                                                <td>45</td>
                                                <td>23</td>
                                                <td>5</td>
                                                <td>13</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyen Van Chin</td>
                                                <td>nguyenvanchin@gmai.com</td>
                                                <td>45</td>
                                                <td>23</td>
                                                <td>5</td>
                                                <td>13</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyen Van Chin</td>
                                                <td>nguyenvanchin@gmai.com</td>
                                                <td>45</td>
                                                <td>23</td>
                                                <td>5</td>
                                                <td>13</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyen Van Chin</td>
                                                <td>nguyenvanchin@gmai.com</td>
                                                <td>45</td>
                                                <td>23</td>
                                                <td>5</td>
                                                <td>13</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyen Van Chin</td>
                                                <td>nguyenvanchin@gmai.com</td>
                                                <td>45</td>
                                                <td>23</td>
                                                <td>5</td>
                                                <td>13</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyen Van Chin</td>
                                                <td>nguyenvanchin@gmai.com</td>
                                                <td>45</td>
                                                <td>23</td>
                                                <td>5</td>
                                                <td>13</td>
                                            </tr>
                                            <tr>
                                                <td>Nguyen Van Chin</td>
                                                <td>nguyenvanchin@gmai.com</td>
                                                <td>45</td>
                                                <td>23</td>
                                                <td>5</td>
                                                <td>13</td>
                                            </tr>

                                        </tbody>


                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div id="company" class="tab-pane fade in   ">

                    <!-- refresh -->
                    <div class="box-header">
                        <h3 class="box-title">List Company</h3>
                        <div>
                            <button type="button" class="btn btn-primary btn-lg">
                                <i class="fa fa-refresh"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newCompany">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- end refresh -->
                    <!-- table -->
                    <div class="col-md-12 clearPaddingMargin" style="margin-top: 3em">
                        <table id="tableCompany" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Tax code</th>
                                    <th>Address</th>
                                    <th>Website</th>
                                    <th>Start date</th>
                                    <th>Stop date</th>
                                    <th>Package</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Công ty CP Swilife</td>
                                    <td>0108065187</td>
                                    <td>Số 12 ngõ 641 đường Phạm văn đồng</td>
                                    <td>https://swilife.com</td>

                                    <td>12-12-2017</td>
                                    <td>15-12-2017</td>
                                    <td>Miss</td>
                                    <td>Khách hàng số 1</td>
                                    <td>
                                        <a href="#" title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a href="#" title="Delete">
                                            <i class="	fa fa-remove"></i>
                                        </a>
                                        <a href="#" title="Add Recruiter" data-toggle="modal" data-target="#newRecruiter">
                                            <i class="fa fa-plus">Add Recruiter</i>
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Công ty CP Swilife</td>
                                    <td>0108065187</td>
                                    <td>Số 12 ngõ 641 đường Phạm văn đồng</td>
                                    <td>https://swilife.com</td>

                                    <td>12-12-2017</td>
                                    <td>15-12-2017</td>
                                    <td>Miss</td>
                                    <td>Khách hàng số 1</td>
                                    <td>
                                        <a href="#" title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a href="#" title="Delete">
                                            <i class="	fa fa-remove"></i>
                                        </a>
                                        <a href="#" title="Add Recruiter" data-toggle="modal" data-target="#newRecruiter">
                                            <i class="fa fa-plus">Add Recruiter</i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Công ty CP Swilife</td>
                                    <td>0108065187</td>
                                    <td>Số 12 ngõ 641 đường Phạm văn đồng</td>
                                    <td>https://swilife.com</td>

                                    <td>12-12-2017</td>
                                    <td>15-12-2017</td>
                                    <td>Miss</td>
                                    <td>Khách hàng số 1</td>
                                    <td>
                                        <a href="#" title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a href="#" title="Delete">
                                            <i class="	fa fa-remove"></i>
                                        </a>
                                        <a href="#" title="Add Recruiter" data-toggle="modal" data-target="#newRecruiter">
                                            <i class="fa fa-plus">Add Recruiter</i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Công ty CP Swilife</td>
                                    <td>0108065187</td>
                                    <td>Số 12 ngõ 641 đường Phạm văn đồng</td>
                                    <td>https://swilife.com</td>

                                    <td>12-12-2017</td>
                                    <td>15-12-2017</td>
                                    <td>Miss</td>
                                    <td>Khách hàng số 1</td>
                                    <td>
                                        <a href="#" title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a href="#" title="Delete">
                                            <i class="	fa fa-remove"></i>
                                        </a>
                                        <a href="#" title="Add Recruiter" data-toggle="modal" data-target="#newRecruiter">
                                            <i class="fa fa-plus">Add Recruiter</i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Công ty CP Swilife</td>
                                    <td>0108065187</td>
                                    <td>Số 12 ngõ 641 đường Phạm văn đồng</td>
                                    <td>https://swilife.com</td>

                                    <td>12-12-2017</td>
                                    <td>15-12-2017</td>
                                    <td>Miss</td>
                                    <td>Khách hàng số 1</td>
                                    <td>
                                        <a href="#" title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a href="#" title="Delete">
                                            <i class="	fa fa-remove"></i>
                                        </a>
                                        <a href="#" title="Add Recruiter" data-toggle="modal" data-target="#newRecruiter">
                                            <i class="fa fa-plus">Add Recruiter</i>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                    <!-- end table -->
                    <!-- form add company -->
                    <div class="modal fade" id="newCompany" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width: 100%;padding: 2em">
                                <div class="modal-header" style="padding-left: 0px;">
                                    <h4 class="modal-title">New Company</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times; </button>

                                </div>
                                <form>
                                    <div class="col-md-12 clearPaddingMargin">
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Name</label>
                                            <input type="text" id="nameNewCompany" name="name" placeholder="Name.." required>

                                        </div>
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Tax code</label>
                                            <input type="text" id="taxcodeNewCompany" name="taxcode" placeholder="Tax code.." required>

                                        </div>
                                    </div>
                                    <div class="col-md-12 clearPaddingMargin">
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Address</label>
                                            <input type="text" id="addressNewCompany" name="address" placeholder="Address.." required>

                                        </div>
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Website</label>
                                            <input type="text" id="websiteNewCompany" name="website" placeholder="Website.." required>

                                        </div>
                                    </div>
                                    <div class="col-md-12 clearPaddingMargin">
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Start date</label>
                                            <input type="text" id="startdateNewCompany" name="startdate" placeholder="Start date.." required>

                                        </div>
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Stop date</label>
                                            <input type="text" id="stodateNewCompany" name="stopdate" placeholder="Stop date.." required>

                                        </div>
                                    </div>
                                    <div class="col-md-12 clearPaddingMargin">
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Package</label>
                                            <select>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Description</label>
                                            <input type="text" id="description" name="description" placeholder="Description.." required>

                                        </div>
                                    </div>


                                    <input type="submit" value="Add">
                                </form>

                            </div>

                        </div>

                    </div>
                    <!-- end  -->
                    <!-- form add recruiter -->
                    <div class="modal fade" id="newRecruiter" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content" style="width: 100%;padding: 2em">
                                <div class="modal-header" style="padding-left: 0px;">
                                    <h4 class="modal-title">New Recruiter</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times; </button>

                                </div>
                                <form>
                                    <div class="col-md-12 clearPaddingMargin">
                                        <div class="col-md-4 clearPaddingMargin" style="padding-right: 1em">
                                            <label>First Name</label>
                                            <input type="text" id="fristnameRecruiter" name="fristname" placeholder="First Name.." required>

                                        </div>
                                        <div class="col-md-4 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Middle Name</label>
                                            <input type="text" id="middlenameRecruiter" name="middlename" placeholder="Middle Name.." required>

                                        </div>
                                        <div class="col-md-4 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Last Name</label>
                                            <input type="text" id="lastnameRecruiter" name="lastname" placeholder="Last Name.." required>

                                        </div>
                                    </div>
                                    <div class="col-md-12 clearPaddingMargin">
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Email</label>
                                            <input type="text" id="emailRecruiter" name="email" placeholder="Email.." required>

                                        </div>
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Phone</label>
                                            <input type="text" id="phoneRecruiter" name="phone" placeholder="Phone.." required>

                                        </div>
                                    </div>
                                    <div class="col-md-12 clearPaddingMargin">
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>User Name</label>
                                            <input type="text" id="usernameRecruiter" name="username" placeholder="username.." required>

                                        </div>
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Pass Word</label>
                                            <input type="password" id="passwordRecruiter" name="password" placeholder="PassWord.." required>

                                        </div>
                                    </div>


                                    <input type="submit" value="Add">
                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- end  -->

                </div>
                <div id="recruiter" class="tab-pane fade in  ">
                    <!-- refresh -->
                    <div class="box-header">
                        <h3 class="box-title">List Recruiter</h3>
                        <div>
                            <button type="button" class="btn btn-primary btn-lg">
                                <i class="fa fa-refresh"></i>
                            </button>

                        </div>
                    </div>
                    <!-- end refresh -->
                    <!-- table -->
                    <div class="col-md-12 clearPaddingMargin" style="margin-top: 3em">
                        <table id="tableRecuiter" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nguyen Van Chin</td>

                                    <td>nguyenvanchin@gmai.com</td>
                                    <td>0987654321</td>

                                    <td>
                                        <a href="#" title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a href="#" title="Delete">
                                            <i class="	fa fa-remove"></i>
                                        </a>

                                    </td>
                                </tr>
                                <tr>
                                    <td>Nguyen Van Chinh</td>

                                    <td>nguyenvanchin@gmai.com</td>
                                    <td>0987654321</td>

                                    <td>
                                        <a href="#" title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a href="#" title="Delete">
                                            <i class="	fa fa-remove"></i>
                                        </a>

                                    </td>
                                </tr>


                            </tbody>

                        </table>
                    </div>
                    <!-- end table -->
                </div>

                <div id="specialist" class="tab-pane fade in ">
                    <!-- refresh -->
                    <div class="box-header">
                        <h3 class="box-title">List Specialist</h3>
                        <div>
                            <button type="button" class="btn btn-primary btn-lg">
                                <i class="fa fa-refresh"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newSpecialist">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- end refresh -->
                    <!-- table -->
                    <div class="col-md-12 clearPaddingMargin" style="margin-top: 3em">
                        <table id="tableSpecialist" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nguyen Van Chin</td>

                                    <td>nguyenvanchin@gmai.com</td>
                                    <td>0987654321</td>
                                    <td>Specialist</td>
                                    <td>
                                        <a href="#" title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a href="#" title="Delete">
                                            <i class="	fa fa-remove"></i>
                                        </a>

                                    </td>
                                </tr>
                                <tr>
                                    <td>Nguyen Van Chinh</td>

                                    <td>nguyenvanchin@gmai.com</td>
                                    <td>0987654321</td>
                                    <td>Specialist</td>
                                    <td>
                                        <a href="#" title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a href="#" title="Delete">
                                            <i class="	fa fa-remove"></i>
                                        </a>

                                    </td>
                                </tr>


                            </tbody>

                        </table>
                    </div>
                    <!-- end table -->
                    <!-- form add Specialist -->
                    <div class="modal fade" id="newSpecialist" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content" style="width: 100%;padding: 2em">
                                <div class="modal-header" style="padding-left: 0px;">
                                    <h4 class="modal-title">New Specialist</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times; </button>

                                </div>
                                <form>
                                    <div class="col-md-12 clearPaddingMargin">
                                        <div class="col-md-4 clearPaddingMargin" style="padding-right: 1em">
                                            <label>First Name</label>
                                            <input type="text" id="fristnameSpecialist" name="fristname" placeholder="First Name.." required>

                                        </div>
                                        <div class="col-md-4 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Middle Name</label>
                                            <input type="text" id="middlenameSpecialist" name="middlename" placeholder="Middle Name.." required>

                                        </div>
                                        <div class="col-md-4 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Last Name</label>
                                            <input type="text" id="lastnameSpecialist" name="lastname" placeholder="Last Name.." required>

                                        </div>
                                    </div>
                                    <div class="col-md-12 clearPaddingMargin">
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Email</label>
                                            <input type="email" id="emailSpecialist" name="email" placeholder="Email.." required>

                                        </div>
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Phone</label>
                                            <input type="text" id="phoneSpecialist" name="phone" placeholder="Phone.." required>

                                        </div>
                                    </div>
                                    <div class="col-md-12 clearPaddingMargin">
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>User Name</label>
                                            <input type="text" id="usernameSpecialist" name="username" placeholder="username.." required>

                                        </div>
                                        <div class="col-md-6 clearPaddingMargin" style="padding-right: 1em">
                                            <label>Pass Word</label>
                                            <input type="password" id="passwordSpecialist" name="password" placeholder="PassWord.." required>

                                        </div>
                                    </div>


                                    <input type="submit" value="Add">
                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- end  -->
                </div>
            </div>
        </div>
    </div>


    <!--script-->
    <script src="~/Scripts/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/manage-account-1.0.1.js"></script>
    <script src="~/Content/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Js/adminlte.min.js"></script>
    <script src="~/Content/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script>
        $(function () {

            var areaChartData = {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [
                    {
                        label: 'Electronics',
                        fillColor: 'rgb(255, 51, 102)',
                        strokeColor: 'rgb(255, 51, 102)',
                        pointColor: 'rgb(255, 51, 102)',
                        pointStrokeColor: '#c1c7d1',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(220,220,220,1)',
                        data: [65, 59, 80, 81, 56, 55, 80]
                    },
                    {
                        label: 'Digital Goods',
                        fillColor: 'rgba(60,141,188,0.9)',
                        strokeColor: 'rgba(60,141,188,0.8)',
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            }
            var barChartOptions = {
                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,
                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,
                //String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',
                //Number - Width of the grid lines
                scaleGridLineWidth: 1,
                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                //Boolean - If there is a stroke on each bar
                barShowStroke: true,
                //Number - Pixel width of the bar stroke
                barStrokeWidth: 2,
                //Number - Spacing between each of the X value sets
                barValueSpacing: 5,
                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,
                //String - A legend template
                legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                //Boolean - whether to make the chart responsive
                responsive: true,
                maintainAspectRatio: true
            }

            //-------------

            var barChartCanvas = $('#barChart').get(0).getContext('2d')
            var barChart = new Chart(barChartCanvas)
            var barChartData = areaChartData
            barChartData.datasets[1].fillColor = '#3366ff'
            barChartData.datasets[1].strokeColor = '#3366ff'
            barChartData.datasets[1].pointColor = '#3366ff'
            barChartOptions.datasetFill = false
            barChart.Bar(barChartData, barChartOptions)



        })

    </script>
    <script>
        $(document).ready(function () {
            $('#tableCompany').DataTable();
            $('#tableRecuiter').DataTable();
            $('#tableSpecialist').DataTable();
            $('#tableTop5').DataTable();
            $('#tableTop5Company').DataTable();
        });
    </script>
</body>
</html>
